[submodule ".registry"]
	path = .registry
	url = https://github.com/pawlenartowicz/pawlenartowicz.r-universe.dev
	branch = HEAD
[submodule "fastglmm"]
	path = fastglmm
	url = https://github.com/pawlenartowicz/GLMM
	branch = r-universe
