[submodule ".registry"]
	path = .registry
	url = https://github.com/pawlenartowicz/pawlenartowicz.r-universe.dev
	branch = HEAD
[submodule "mcpower"]
	path = mcpower
	url = https://github.com/pawlenartowicz/mcpower
	branch = main
	subdir = ports/r
